In [16]:
import re 
import pandas as pd
import numpy as np
import time

from bs4 import BeautifulSoup as bs
import requests

In [2]:
url = "https://chilepropiedades.cl/propiedades/venta-usada/departamento/region-metropolitana-de-santiago-rm/0"


response = requests.get(url, 
                        headers= {"User-Agent" : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"}
                        )

In [3]:
html = response.content

In [4]:
soup = bs(html, "lxml")

In [5]:
casas = soup.select("div.position-relative.d-sm-flex")

In [6]:
len(casas)

10

## Individual Tests

In [7]:
url = "https://chilepropiedades.cl/propiedades/venta-usada/casa/region-metropolitana-de-santiago-rm/4"


response = requests.get(url, 
                        headers= {"User-Agent" : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"}
                        )
time.sleep(1)

html = response.content
soup = bs(html, "lxml")
casas = soup.select("div.position-relative.d-sm-flex")

In [8]:
casas[7].select("h2.publication-title-list a")[0].get_text().split("\n")[1].strip()# direccion

'La Florida, Santa Julia'

In [9]:
casas[6].select("span.clp-value-container") # precio

[<span areaunit="" class="clp-value-container" data-no-value="" valueunit="1">
                     $
                   </span>,
 <span areaunit="" class="clp-value-container" data-no-value-unit="" value="6.45E7" valueunit="1">
                     64.500.000
                   </span>]

In [17]:
if casas[0].select("span.clp-value-container")[0].get_text(strip=True) == "$":
    price = int(casas[0].select("span.clp-value-container")[1].get_text(strip=True).replace(".",""))
    price
    print(round(price / 34823, 3))
elif casas[0].select("span.clp-value-container")[0].get_text(strip=True) == "UF":
    price = int(casas[0].select("span.clp-value-container")[1].get_text(strip=True).replace(".",""))
    print(price)
    print(round(price * 34823, 3))
elif casas[0].select("span.clp-value-container")[0].get_text(strip=True) == "USD":
    price = int(casas[0].select("span.clp-value-container")[1].get_text(strip=True).replace(".",""))
    print(price)
    print(round(price * 34823, 3))

5000
174115000

In [13]:
len(casas[6].select("div.clp-publication-features-container span"))

17

In [14]:
categorias = casas[8].select("div.clp-publication-features-container span")
categorias_clean = [i.get_text(strip=True).split(":")[0] for i in categorias]
check_hab_bath = ["Baños", "Habitaciones"]

In [15]:
[i in categorias_clean for i in check_hab_bath]

[True, True]

In [ ]:

if ("Habitaciones" and "Baños") in [i.get_text(strip=True).split(":")[0] for i in categorias]:
    print("gloria la bravo pueblo")

gloria la bravo pueblo

In [ ]:
("Habitaciones" and "Baños") in [i.get_text(strip=True).split(":")[0] for i in categorias]

True

In [ ]:
for i in casas[8].select("div.clp-publication-features-container span"):
    print(i.get_text(strip=True).split(":")[0])

Baños
Baños
2
Superficie Construida
Superficie Construida
98 m²
|
Terreno
98 m²
Estacionamientos
Estacionamientos
2

In [ ]:
bla = casas[4].select("div.clp-publication-features-container span")[6].select("span.clp-feature-value")# para casa que tienen tanto superficie construida y total 
bla

[<span class="clp-feature-value" title="Superficie Construida">70 m²</span>,
 <span class="clp-feature-value" title="Superficie Total">122 m²</span>]

In [ ]:

#metros_cons=[]
#total_metros=[]

if len(bla) == 1:
    pass
    # all_metros_coin.append(int(bla[0].get_text().split()[0])
    # all_metros_totales.append(int(bla[0].get_text().split()[0])
elif len(bla) == 2:
    print(float(bla[0].get_text().replace(",",".").split()[0]))
    print(bla[1].get_text().replace(",","."))

70.0
122 m²

In [ ]:
casas[0].select("div.clp-publication-features-container span")[2].get_text() # habitacion

'3'

In [ ]:
casas[0].select("div.clp-publication-features-container span")[5].get_text() # Baños

'1'

In [ ]:
if casas[0].select("div.clp-publication-features-container span")[-2].get_text() == 'Estacionamientos:':  # Estacionamientos
    a = casas[0].select("div.clp-publication-features-container span")[-1].get_text()
else:
    a = 0
a

'2'

In [ ]:
casas[0].select("div.text-center")[0].get_text().split("\n")[1] #  fecha

'02/12/2022'

## Just one pag

In [20]:
url = "https://chilepropiedades.cl/propiedades/venta-usada/departamento/region-metropolitana-de-santiago-rm/0"


response = requests.get(url, 
                        headers= {"User-Agent" : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"}
                        )
# time.sleep(1)

html = response.content
soup = bs(html, "lxml")
casas = soup.select("div.position-relative.d-sm-flex")

In [21]:
solo_address = []
solo_price = []
solo_uf = []
solo_cons_m2 = []
solo_total_m2 = []
solo_num_bedrooms = []
solo_num_bathrooms = []
solo_parkings_slots = []
solo_publi_date = []

In [22]:
for idx,cas in enumerate(casas):
    # print(idx)
    categorias = cas.select("div.clp-publication-features-container span")
    categorias_clean = [i.get_text(strip=True).split(":")[0] for i in categorias]
    check_hab_bath = ["Baños", "Habitaciones"]
    
    if not(all([i in categorias_clean for i in check_hab_bath])):
        continue

    solo_address.append(cas.select("h2.publication-title-list a")[0].get_text().split("\n")[1].strip())

    if cas.select("span.clp-value-container")[0].get_text(strip=True) == "$":
        price = int(cas.select("span.clp-value-container")[1].get_text(strip=True).replace(".",""))
        # print(idx,price)
        solo_price.append(price)
        solo_uf.append(round(price / 34829, 3))
    elif cas.select("span.clp-value-container")[0].get_text(strip=True) == "UF":
        price = int(cas.select("span.clp-value-container")[1].get_text(strip=True).replace(".",""))
        # print(idx,price)
        solo_uf.append(price)
        solo_price.append(round(price * 34829, 3))

    elif cas.select("span.clp-value-container")[0].get_text(strip=True) == "USD":
        price = int(cas.select("span.clp-value-container")[1].get_text(strip=True).replace(".",""))
        # print(idx,price, price / 39, price * 886)
        solo_uf.append(round(price / 39, 3))
        solo_price.append(round(price * 886, 3))


    categorias = cas.select("div.clp-publication-features-container span")
    if "Terreno" in [i.get_text(strip=True).split(":")[0] for i in categorias]:
        meters = cas.select("div.clp-publication-features-container span")[6].select("span.clp-feature-value")

        if len(meters) == 1:
            solo_cons_m2.append(int(meters[0].get_text().split(",")[0].replace(".","").split()[0]))
            solo_total_m2.append(int(meters[0].get_text().split(",")[0].replace(".","").split()[0]))
        elif len(meters) == 2:
            solo_cons_m2.append(int(meters[0].get_text().split(",")[0].replace(".","").split()[0]))
            solo_total_m2.append(int(meters[1].get_text().split(",")[0].replace(".","").split()[0]))
    else:
        solo_cons_m2.append(0)
        solo_total_m2.append(0)

    
    solo_num_bedrooms.append(int(cas.select("div.clp-publication-features-container span")[2].get_text()))
    solo_num_bathrooms.append(int(cas.select("div.clp-publication-features-container span")[5].get_text()))

    if cas.select("div.clp-publication-features-container span")[-2].get_text() == 'Estacionamientos:':  # Estacionamientos
        solo_parkings_slots.append(int(cas.select("div.clp-publication-features-container span")[-1].get_text()))
    else:
        solo_parkings_slots.append(0)
    
    solo_publi_date.append(cas.select("div.text-center")[0].get_text().split("\n")[1])

In [23]:
dict_data = {"Direccion": solo_address,
             "Precio" : solo_price,
             "UF" : solo_uf,
             "m2_Construidos" : solo_cons_m2,
             "m2_totales" : solo_total_m2,
             "Habitaciones" :  solo_num_bedrooms,
             "Banos" : solo_num_bathrooms,
             "Estacionamientos" : solo_parkings_slots,
             "Publi": solo_publi_date}

In [24]:
full_list = [solo_address, solo_price, solo_uf, solo_cons_m2, solo_total_m2, solo_num_bedrooms, solo_num_bathrooms, solo_parkings_slots, solo_publi_date]
len_full = np.array([len(i) for i in full_list])
len_full

array([10, 10, 10, 10, 10, 10, 10, 10, 10])

In [25]:
# Two ways of doing the same thing
# Check if all the values are the same

np.count_nonzero(len_full == len_full[0]) == len(len_full)
f"all_ elements are equal : {np.unique(len_full).shape[0] == 1}"

'all_ elements are equal : True'

In [26]:
pd.DataFrame(dict_data)

,Direccion,Precio,UF,m2_Construidos,m2_totales,Habitaciones,Banos,Estacionamientos,Publi
0,"Santiago, Carmen 159",114000000,3273.134,100,100,3,2,0,21/03/2023
1,"Las Condes, Av. Manquehue Nte. 69",156730500,4500.000,45,45,1,1,1,20/03/2023
2,"Quinta Normal, Gral. Barbosa 1149",75000000,2153.378,37,37,1,1,0,20/03/2023
3,"La Florida, Pudeto, La Florida",65826810,1890.000,31,31,1,1,0,20/03/2023
4,"Ñuñoa, Matta Ote. 849",182852250,5250.000,74,74,2,2,1,20/03/2023
5,"Estación Central, Avenida Padre Alberto Hurtado",75000000,2153.378,62,62,3,2,0,20/03/2023
6,"San Joaquín, Sta. Rosa 2648",66175100,1900.000,46,46,2,1,0,20/03/2023
7,"Las Condes, C. San José de La Sierra 93",170662100,4900.000,0,0,1,1,0,19/03/2023
8,"Ñuñoa, José Domingo Cañas 1727",244847870,7030.000,110,110,3,2,1,19/03/2023
9,"Cerrillos, Folklore Chileno 2227",38068097,1093.000,42,42,2,1,0,19/03/2023

# Full test

In [28]:
all_address = []
all_price = []
all_uf = []
all_cons_m2 = []
all_total_m2 = []
all_num_bedrooms = []
all_num_bathrooms = []
all_parkings_slots = []
all_publi_date = []

In [29]:
full_list = [all_address, all_price, all_uf, all_cons_m2, all_total_m2, all_num_bedrooms, all_num_bathrooms, all_parkings_slots, all_publi_date]

In [45]:
for i in range(1292,1297):
    url = f"https://chilepropiedades.cl/propiedades/venta-usada/departamento/region-metropolitana-de-santiago-rm/{i}"


    response = requests.get(url, 
                            headers= {"User-Agent" : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"}
                            )
    # time.sleep(1)

    html = response.content
    soup = bs(html, "lxml")
    casas = soup.select("div.position-relative.d-sm-flex")

    for cas in casas:
        categorias = cas.select("div.clp-publication-features-container span")
        categorias_clean = [i.get_text(strip=True).split(":")[0] for i in categorias]
        check_hab_bath = ["Baños", "Habitaciones"]
        
        if not(all([i in categorias_clean for i in check_hab_bath])):
            continue
        #####
        all_address.append(cas.select("h2.publication-title-list a")[0].get_text().split("\n")[1].strip())

        if cas.select("span.clp-value-container")[0].get_text(strip=True) == "$":
            price = int(cas.select("span.clp-value-container")[1].get_text(strip=True).replace(".",""))
            all_price.append(price)
            all_uf.append(round(price / 34823, 3))
        elif cas.select("span.clp-value-container")[0].get_text(strip=True) == "UF":
            price = int(cas.select("span.clp-value-container")[1].get_text(strip=True).replace(".",""))
            all_uf.append(price)
            all_price.append(round(price * 34823, 3))
        elif cas.select("span.clp-value-container")[0].get_text(strip=True) == "USD":
            price = int(cas.select("span.clp-value-container")[1].get_text(strip=True).replace(".",""))
            all_uf.append(round(price / 39, 3))
            all_price.append(round(price * 886, 3))

        categorias = cas.select("div.clp-publication-features-container span")
        if "Terreno" in [i.get_text(strip=True).split(":")[0] for i in categorias]:
            meters = cas.select("div.clp-publication-features-container span")[6].select("span.clp-feature-value")

            if len(meters) == 1:
                all_cons_m2.append(int(meters[0].get_text().split(",")[0].replace(".","").split()[0]))
                all_total_m2.append(int(meters[0].get_text().split(",")[0].replace(".","").split()[0]))
            elif len(meters) == 2:
                all_cons_m2.append(int(meters[0].get_text().split(",")[0].replace(".","").split()[0]))
                all_total_m2.append(int(meters[1].get_text().split(",")[0].replace(".","").split()[0]))
        else:
            all_cons_m2.append(0)
            all_total_m2.append(0)
            
        all_num_bedrooms.append(int(cas.select("div.clp-publication-features-container span")[2].get_text()))
        all_num_bathrooms.append(int(cas.select("div.clp-publication-features-container span")[5].get_text()))

        if cas.select("div.clp-publication-features-container span")[-2].get_text() == 'Estacionamientos:':  # Estacionamientos
            all_parkings_slots.append(int(cas.select("div.clp-publication-features-container span")[-1].get_text()))
        else:
            all_parkings_slots.append(0)
        
        all_publi_date.append(cas.select("div.text-center")[0].get_text().split("\n")[1])

    len_full = np.array([len(i) for i in full_list])
    print(i, f"all_ elements are equal : {np.unique(len_full).shape[0] == 1}")

1292 all_ elements are equal : True
1293 all_ elements are equal : True
1294 all_ elements are equal : True
1295 all_ elements are equal : True
1296 all_ elements are equal : True

In [35]:
full_list[0][0]

'Santiago, Carmen 159'

In [46]:
len(full_list[-1])

12853

In [54]:
# Checks -- 793 -- True
# 7874

In [47]:
dict_data = {"Direccion": all_address,
             "Precio" : all_price,
             "UF" : all_uf,
             "m2_Construidos" : all_cons_m2,
             "m2_totales" : all_total_m2,
             "Habitaciones" :  all_num_bedrooms,
             "Banos" : all_num_bathrooms,
             "Estacionamientos" : all_parkings_slots,
             "Publi": all_publi_date}

In [48]:
df = pd.DataFrame(dict_data)

In [49]:
df

,Direccion,Precio,UF,m2_Construidos,m2_totales,Habitaciones,Banos,Estacionamientos,Publi
0,"Santiago, Carmen 159",114000000,3273.698,100,100,3,2,0,21/03/2023
1,"Las Condes, Av. Manquehue Nte. 69",156703500,4500.000,45,45,1,1,1,20/03/2023
2,"Quinta Normal, Gral. Barbosa 1149",75000000,2153.749,37,37,1,1,0,20/03/2023
3,"La Florida, Pudeto, La Florida",65815470,1890.000,31,31,1,1,0,20/03/2023
4,"Ñuñoa, Matta Ote. 849",182820750,5250.000,74,74,2,2,1,20/03/2023
...,...,...,...,...,...,...,...,...,...
12848,"Estación Central, Carlos Pezoa Véliz 143",40000000,1148.666,18,18,1,1,0,23/02/2022
12849,"Independencia, Av Independencia / Olivos",118363377,3399.000,53,53,2,2,1,14/12/2021
12850,"Independencia, Av Independencia / Olivos",111398777,3199.000,49,49,2,1,1,13/12/2021
12851,"Independencia, Av Independencia / Olivos",76575777,2199.000,45,45,1,1,0,13/12/2021
12852,"Estación Central, Av Gral Velasquez / Portales",105861920,3040.000,101,101,2,1,0,08/12/2021

In [51]:
df = df.drop_duplicates()

In [ ]:
# acuerdate de comentar la siguiente celda despues de guardar el csv y cambiarle a nombre al archivo para que no se te sobreescriba

In [52]:
# df.to_csv("data/pisos_rm_2023_03_22.csv", index = False)